* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #736cb0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    background-color: #7aa4e2;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #df1515;
    text-decoration:underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 500px;
}

form button {
    padding: 10px;
    background-color: #d63434;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 150px;
}

form button:hover {
    background-color: #414040;
}

footer {
    background-color: #335;
    color: white;
    text-align: center;
    padding: 10px 0;
}

